.shopping_cart {
    /* display: grid; */

    background-color: #d5d0d0c7;
    margin: 2%;
    padding: 50px;
    grid-area: cont;
}

.shopping_cart .cart_heading {
    display: grid;
    grid-template-columns: repeat(6, auto);
    font-size: 25px;
}

.cart_content {
    box-shadow: 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.408);
        box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
    width: 100%;


    border-radius: 25px;
    padding: 3% 0;

}

.top_label {
    grid-area: cont;
    margin: 8%;
    margin-right: 28%;
    text-align: center;
    font-size: 50px;
    box-shadow: 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.408);
        box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 5% 0 7%;
}

.cart_content .cart_item {
    /* display: flex; */
    height: 120px;

    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
}

.cart_content .cart_item .product_info {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 6em;
}

.shopping_cart #img_id img {
    height: 114px;
    width: 100px;
    box-shadow: 1px 1px 3px 1px #52aba5;
    border-radius: 5px;
}

.t_amount,
.price {
    font-size: 18px;
}

.shopping_cart .btn-inc-dec {
    display: flex;
}

.btn-inc,
.btn-dec,
.item-qty {
    border: 1px solid;
    border-radius: 2px;
    min-width: 25px;
    color: #40a0f9;
    text-align: center;
    padding: 2px;
}

.btn-inc,
.btn-dec :hover {
    cursor: pointer;
}

.shopping_cart .end_display {
    text-align: center;
    padding-top: 20px;
    & h2 {
        color: #0084ff;
    }
}

.shopping_cart .btn-crt-page,
.btn-home,
.btn-remove {
    margin: 10px;
    background-color: #ff9500;
    font-size: 20px;

    padding: 10px;
    border-radius: 30px;
}

.btn-remove {
    height: 35px;
    /* font-size: 18px; */
    /* font-weight: 600; */

    padding: 0;

}

.shopping_cart .btn-crt-page:hover,
.btn-home:hover,
.btn-remove:hover {
    cursor: pointer;
   background-color: #01a6ffda;

    color: #ffffff;
   
    
    transition: 0.3s ease-in-out;
}

.fix_width {

    width: 9rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}