




.shop_item {
    display: grid;
    /* width: 400px;
    border-radius: 20px;
        margin: 10px;
        padding: 10px;
       
    */
    grid-template-columns: auto auto auto auto;
    /* flex-direction: row; */
    margin: 10px;
    padding: 10px;
    
    border-radius: 25px;
    box-shadow: 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.408);
        box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.4);
    align-items: center;


}

.shop_item:hover {


    transform: scale3d(1.03, 1.02, 1.03);
    transition: .5s ease-in-out;


}

#img_id img {

    height: 230px;
    width: 190px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px rgb(128, 128, 128);

}

.product_info {
    width: 24vw;
    padding: 10px;
    text-align: center;
    background-color: #bfbdbd58;
    border-radius: 10px;

}

.product_pg .price {
    font-size: 21px;

    margin: 1px;
}

.btn-add {
     background-color: rgba(255, 149, 0, 0.78);

    
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;

}

.btn-add:hover {
    cursor: pointer;
     background-color: #01a6ffda;
    color: white;
   
   
    transition: .3s ease-in-out;
}
